@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


:root {
    --pxh-50: 5.0vh;
    --pxh-40: 4.0vh;
    --pxh-30: 3.0vh;
    --pxh-25: 2.5vh;
    --pxh-20: 2.0vh;
    --pxh-15: 1.5vh; 
    --pxh-12: 1.2vh; 
    --pxh-10: 1.0vh; 
    --pxh-05: 0.5vh; 
    --pxh-04: 0.4vh; 
    --pxh-03: 0.3vh;     
    --pxh-02: 0.2vh; 
    --pxh-01: 0.1vh; 

    --pxw-50: 5.0vw;
    --pxw-40: 4.0vw;
    --pxw-30: 3.0vw;
    --pxw-25: 2.5vw;
    --pxw-20: 2.0vw;
    --pxw-15: 1.5vw; 
    --pxw-12: 1.2vw; 
    --pxw-10: 1.0vw; 
    --pxw-05: 0.5vw; 
    --pxw-04: 0.4vw; 
    --pxw-03: 0.3vw;     
    --pxw-02: 0.2vw; 
    --pxw-01: 0.1vw; 

    --navbar-bg-color:rgba(49, 49, 49, 0.171);
    --transparent-bg-color:rgba(189, 189, 189, 0.664);
    --white-bg-color:rgba(255, 255, 255, 0.95);
    --item-border-color-grey: rgba(0, 0, 0, 0.1);
    --border-between-ele: rgb(218, 218, 218) solid 0.5px;
    --greyed-out-text:rgba(128, 128, 128, 0.8);
    --secondary-header-font-size: 1.8vh;
    --header-font-size: 25px;
    --box-shadow:0px 0px var(--pxh-03) rgba(31, 31, 31, 0.4);
    --text-shadow:black 0px 0px var(--pxh-04);
    --accent-color:#984ea3;
    --accent-color-transparent:#64356d;
    --border-radius-tab:2vh;
    --border-radius-large-item:1.5vh;
    --border-radius-small-item:1vh;
    --border-radius-button: 3vh;

    --border-bottom: rgb(218, 218, 218) solid var(--pxh-01);


    --album-cover-size: 30vh;
    --album-item-size: 20vh;
    --genre-item-size:12vh;
    --song-item-img-size:8vh;

            /* UNITS  */
            --h-150: 15vh; --h-100: 10vh; --h-50: 5.0vh;--h-40: 4.0vh;--h-30: 3.0vh;
            --h-25: 2.5vh;--h-20: 2.0vh; --h-18: 1.8vh; --h-15: 1.5vh; --h-12: 1.2vh; 
            --h-10: 1.0vh; --h-09: 0.9vh; --h-08: 0.8vh; --h-07: 0.7vh; --h-06: 0.6vh;
            --h-05: 0.5vh; --h-04: 0.4vh; --h-03: 0.3vh; --h-02: 0.2vh; --h-01: 0.1vh;
        
            --w-150: 15vw; --w-100: 10vw; --w-50: 5.0vw;--w-40: 4.0vw;--w-30: 3.0vw;
            --w-25: 2.5vw;--w-20: 2.0vw; --w-18: 1.8vw; --w-15: 1.5vw; --w-12: 1.2vw; 
            --w-10: 1.0vw; --w-09: 0.9vw; --w-08: 0.8vw; --w-07: 0.7vw; --w-06: 0.6vw;
            --w-05: 0.5vw; --w-04: 0.4vw; --w-03: 0.3vw; --w-02: 0.2vw; --w-01: 0.1vw;
        
            /* 50 SHADES OF GREY, SORT OF */
            --grey-250: rgb(25, 25, 25); /* REALLY DARK GREY*/
            --grey-200: rgb(45, 45, 45);
            --grey-150: rgb(90, 90, 90);
            --grey-100: rgb(128, 128, 128); /* NEUTRAL GREY*/
            --grey-75: rgb(165, 165, 165);
            --grey-50: rgb(200, 200, 200);
            --grey-25: rgb(225, 225, 225); /* REALLY LIGHT GREY*/
            /* WHITES */
            --white-100: rgba(255, 255, 255, 1); --white-90: rgba(255, 255, 255, 0.9);
            --white-80: rgba(255, 255, 255, 0.8);--white-70: rgba(255, 255, 255, 0.7);
            --white-60: rgba(255, 255, 255, 0.6);--white-50: rgba(255, 255, 255, 0.5);
            --white-40: rgba(255, 255, 255, 0.4);--white-30: rgba(255, 255, 255, 0.3);
            --white-20: rgba(255, 255, 255, 0.2);--white-10: rgba(255, 255, 255, 0.1);
            /* BLACKS  */
            --black-100: rgba(0, 0, 0, 1); --black-90: rgba(0, 0, 0, 0.9);
            --black-80: rgba(0, 0, 0, 0.8);--black-70: rgba(0, 0, 0, 0.7);
            --black-60: rgba(0, 0, 0, 0.6);--black-50: rgba(0, 0, 0, 0.5);
            --black-40: rgba(0, 0, 0, 0.4);--black-30: rgba(0, 0, 0, 0.3);
            --black-20: rgba(0, 0, 0, 0.2);--black-10: rgba(0, 0, 0, 0.1);
            /* ACCENT COLOR */
            --color-accent:rgb(150, 75, 150);
            --color-accent-dark:rgb(125, 60, 125);
            --color-accent-darker:rgb(100, 50, 100);
        
            /* ITEMS COLORS */
            --color-navbar:var(--black-10);
            --color-app-div-white:var(--white-90);     
            --color-item-border: var(--black-10);
        
            --color-button: var(--white-100);
            --color-button-hovered: var(--grey-25);
            --color-button-clicked: var(--grey-75);
            --color-button-active: var(--grey-200);
        
            --color-button-accent: var(--color-accent);
            --color-button-accent-hovered: var(--color-accent-dark);
            --color-button-accent-clicked: var(--color-accent-darker);
        
            /* TEXT COLORS */
            --color-text: var(--black-100);
            --color-text-greyed-out:var(--grey-75);
            --color-text-button: var(--grey-250);
            --color-text-button-active: var(--grey-25);
        
            /* FONT-SIZE */
            --font-size-10: var(--h-50);
            --font-size-6: var(--h-30);
            --font-size-5: var(--h-25);
            --font-size-4: var(--h-18);
            --font-size-3: var(--h-15);
            --font-size-2: var(--h-12);
            --font-size-1: var(--h-10);
        
            /* SHADOW */
            --box-shadow-black :black 0px 0px var(--h-02);
            --box-shadow-grey :var(--grey-100) 0px 0px var(--h-02);
            --box-shadow-white :white 0px 0px var(--h-02);
        
            --text-shadow-black :black 0px 0px var(--h-03);
            --text-shadow-grey :var(--grey-100) 0px 0px var(--h-03);
            --text-shadow-white :white 0px 0px var(--h-03);
        
            /* BORDERS */
            --border-divider-thin: solid var(--h-01) var(--color-item-border);
            --border-divider-regular: solid var(--h-02) var(--color-item-border);
            --border-divider-thick: solid var(--h-03) var(--color-item-border);
        
            /* BORDER CORNER RADIUS */
            --border-radius-10: var(--h-150);
            --border-radius-9: var(--h-100);
            --border-radius-5: var(--h-50);
            --border-radius-4: var(--h-25);
            --border-radius-3: var(--h-20);
            --border-radius-2: var(--h-15);
            --border-radius-1: var(--h-10);
    
            --border-radius-tab: var(--border-radius-4);
}

/* Code for the toast messages adapted from - https://www.w3schools.com/howto/howto_js_snackbar.asp 
The toast - position it at the bottom and in the middle of the screen */
#toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    /* margin-left: -125px;  */
    background-color: rgba(51, 51, 51, 0.897); /* Black background color */
    color: #fff; /* White text color */
    border-radius: 0.3em; /* Rounded borders */
    padding: 1.5vh; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 8%; /* right align the toast */
    bottom: 82%; /* 2vh from the bottom */
    text-align: right;
}

/* Show the toast when clicking on a button (class added with JavaScript) */
#toast.show {
    visibility: visible; /* Show the snackbar */
} 

/* ---------------------------------- */
/* ---------- 0.BODY LAYOUT --------- */
/* ---------------------------------- */

body{
    margin: 0px; 
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    opacity: 0.95;
}

.container-body{
    height: 88%;
    display: grid;
    grid-template-columns: auto 30% 25% 30% auto;
    grid-template-rows: 8% 7% 7% 60% 8%;
    grid-template-areas: 
            "M3 A0 A0 A0 M4"
            "M3 A1 A1 A3 M4"
            "M3 A2 A2 A3B M4"
            "M3 A2 A2 A4 M4"
            "M3 A2 A2 A5 M4"

}

/* ---------------------------------- */
/* --------- 1.MARGIN LAYOUT -------- */
/* ---------------------------------- */


#margin-left{ grid-area: M3;}
#margin-right{ grid-area: M4;}
.margin{font-size: 0;} /* Comment out to remove the texts */


/* ---------------------------------- */
/* ---------- 3. APP LAYOUT --------- */
/* ---------------------------------- */

/* .app-div{
    padding: var(--pxh-05);
    margin-left: var(--pxh-05);
    margin-right: var(--pxh-05);
} */


.header {
    font-size: 2.8vh;
    padding-left: 1vw;
}

.header-list{
    font-size: 2.8vh;
    padding-top:1.5vh;
    padding-left: 1vw;
}



/* ---------- A0 ---------- */

#app-a0{
    grid-area: A0;
    font-size: 5vh;
    color: var(--white-bg-color);
    text-shadow: black 0px 0px 3px;
}

/* ---------- A1 ---------- */

#app-a1{
    grid-area: A1;
    background-color: var(--color-app-div-white);
    border-top-left-radius: var(--border-radius-tab) ;
    border-top-right-radius: var(--border-radius-tab)  ;
    border-bottom: var(--border-divider-thin);
    display: grid;
}

#container-a1{
    display: grid;
    align-items: center;
    align-content: center;
    /* margin-top: 0.5vh; */
}



/* ---------- A2 ---------- */

#app-a2{
    grid-area: A2;
    background-color: var(--white-bg-color);
    border-bottom-right-radius: var(--border-radius-tab) ;
    border-bottom-left-radius: var(--border-radius-tab) ;
    overflow-y:scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;

}
#container-a2{
    display: grid;
    align-items: stretch;
    padding-bottom: var(--pxh-25);
}

#container-explore-main{
    display: grid;

}
#container_explore_topic{
    display: none;
}

.container-explore-component{
    display: grid;
    grid-template-areas: "HL1 HB1"
                        "CL1 CL1";
    grid-template-columns: auto 15vh;
}

.header-list {
    grid-area: HL1;
    font-size: 2.8vh;
    padding-top:1.5vh;
    padding-bottom:1.5vh;
    /* padding-left: 1vh; */
}

.header-button{
    grid-area: HB1;
    align-self: center;
    font-size: var(--font-size-4);
    color: var(--grey-150);
    text-decoration: underline;
    cursor: pointer;
    text-align: right;
    margin-right: var(--w-20);
}

.container-list{
    grid-area: CL1;
    min-height: var(--pxh-50);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: var(--pxh-40) var(--pxh-30);
    padding-left: var(--pxh-05);
    padding-top: var(--pxh-15);
    padding-bottom: var(--pxh-15);
    margin-bottom: var(--w-15);
}

#list-genres{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: var(--pxh-20) 0vh;
    padding: 15px;
    padding: var(--pxh-15);
    padding-bottom: var(--pxh-25);
}


.album-item, .album-item-2{
    width: var(--album-item-size);
    height: var(--album-item-size);
    border-radius: var(--border-radius-large-item);
    display:grid;
    justify-self: center;
    grid-template-areas: "AI";
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.album-item-img, .album-item-img-2{
    grid-area: AI;
    width: inherit;
    height: inherit;
    display:block;
    justify-self: center;
    border-radius: var(--border-radius-large-item);
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

/* .album-item-descr, .album-item-descr-2{
    grid-area: AI;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    top: -10vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    opacity: 0;
    box-shadow: black 0px 0px var(--pxh-05);
    overflow: hidden;
}

*/
.genre-item{
    width: var(--genre-item-size);
    height: var(--genre-item-size);
    display:grid;
    grid-template-areas: "GI";
    justify-self: center;
    border-radius: var(--border-radius-small-item);
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.genre-item-img{
    grid-area: GI;
    width: inherit;
    height: inherit;
    display:block;
    justify-self: center;
    border-radius: var(--border-radius-small-item);
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.genre-item-descr{
    grid-area: GI;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    opacity: 0;
    box-shadow: var(--text-shadow);
    overflow: hidden;
}

.genre-item-descr:hover{
    opacity: 0.8;
}


/* .album-item:hover{
    opacity: 0.9;
} */
/* ------- BUTTONS ------- */

.button{
    background-color: #ffffff;
    color: black;
    border-radius: var(--border-radius-button);
    border-width: var(--pxh-02);
    padding: var(--pxh-10) var(--pxh-10);
    cursor: pointer;
    border-color: var(--item-border-color-grey);
    font-size: var(--font-size-3);
    font-family: "Montserrat", sans-serif;
}

.button:hover{
    background-color: #ddd;
}

.button.active {
    background-color: #666;
    color: white;
    text-shadow: var(--box-shadow);
}

/* ---------- A3 ---------- */

#app-a3{
    grid-area: A3;
    background-color: var(--white-bg-color);
    border-top-right-radius: var(--border-radius-tab) ;
    border-top-left-radius: var(--border-radius-tab) ;
    border-bottom: var(--border-bottom) ;
    display: grid;

}

#container-a3{
    font-size: var(--font-size-1);
    display: grid;
    grid-template-columns: auto 5vw;
    align-items: center;
    align-content: center;
    /* margin-top: 0.5vh; */
}

#button-dismiss{
    color: rgb(175, 175, 175);
    font-size: 0.9vw;
    margin-right: var(--pxw-05);
    padding-left: var(--pxw-05);
    padding-right: var(--pxw-05);

    /* align-self: center; */

}

/* ---------- A3B ---------- */

#app-a3b{
    grid-area: A3B;
    background-color: var(--color-app-div-white);
    display: grid;
}

#container-a3b{
    font-size: var(--font-size-2);
    display: grid;
    grid-template-columns: 15vh 15vh;
    gap: 1vh 0.5vh;
    justify-content: center;
    align-self: center;
    padding-right:var(--pxh-10);
}


/* ---------- A4 ---------- */

#app-a4{
    grid-area: A4;
    background-color: var(--white-bg-color);
    overflow-y:scroll;
    scroll-behavior: smooth;
    /* border: 1px black dashed; */

}

#container-a4{
    display: grid;
    justify-self: center;
    align-self: center;
    padding: var(--pxh-10);
}

#container-album-summary{
    width: 100%;
    display: grid;
    flex-direction: column;
    justify-content: center;
}

#album-cover{
    border-radius: var(--border-radius-button);
    width: var(--album-cover-size);
    height: var(--album-cover-size);
    display:block;
    justify-self: center;
    box-shadow: var(--text-shadow);
    cursor: pointer;
}

#album-cover-img{
    border-radius: var(--border-radius-button);
    width: inherit;
    height: inherit;
}

#album-details{
    padding: var(--pxh-05);
    text-align: center;
    font-size: var(--font-size-4);
    display:grid;
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 20vh;
    /* border: black 0.1vh solid; */
}

.album-details-title{
    /* border: black 0.1vh solid; */
    align-self: center;
}

.album-details-info{
    /* border: black 0.1vh solid; */
    align-self: center;
}

#album-name{
    font-weight: bolder;
    font-size: var(--font-size-5);
}

/**/
 /* .album-item-descr, .album-item-descr-2{
    grid-area: AI;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    top: -10vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    opacity: 0;
    box-shadow: black 0px 0px var(--pxh-05);
    overflow: hidden;
} */

.album-item-descr{
    grid-area: AI;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: inherit;
    height: inherit;
    text-align: center;
    font-size: var(--font-size-3);
    display:grid;
    opacity: 0;
    border-radius: inherit;
    box-shadow: black 0px 0px var(--pxh-05);
    /* border: white 0.1vh solid; */
    overflow: hidden;

}

.album-item-details-title{
    padding: var(--pxh-03);
    align-self: center;
}

.album-item-details-info{
    align-self: center;
}

.album-item-name{
    font-weight: bolder;
    font-size: var(--font-size-4);
}


.album-item-descr:hover{
    opacity: 0.7;
}

.album-item-descr.selected{
    opacity: 0.8;
}

/* ----- CONTAINER SONG ITEM ----- */
.container-song-list{
    padding-top:0;
}

.container-song-item{
    display: grid;
    grid-template-areas:    "SIMG SNAME DURTN"
                            "SIMG ARTST .";
    grid-template-columns: var(--song-item-img-size) auto 6vh;
    grid-template-rows: repeat(2,var(--song-item-img-size)/2);

}

.song-item-img{
    grid-area: SIMG;
    width: var(--song-item-img-size);
    height: var(--song-item-img-size);
    border-radius: var(--border-radius-large-item);
    box-shadow: var(--box-shadow);
}

.song-item-title{
    grid-area: SNAME;
    padding: var(--pxh-05);
    padding-left: var(--pxw-05);
    align-self: end;
    font-size: var(--font-size-4);
    overflow: hidden;
}

.song-item-artist{
    grid-area: ARTST;
    align-self: start;
    padding: var(--pxh-05);
    padding-left: var(--pxw-05);
    color:var(--greyed-out-text);
    font-size: var(--font-size-3);
}

.song-item-duration{
    grid-area: DURTN;
    padding: var(--pxh-05);
    align-self: end;
    font-size: var(--font-size-4);
}

/* ---------- A5 ---------- */

#app-a5{
    grid-area: A5;
    background-color: var(--white-bg-color);
    border-bottom-right-radius: var(--border-radius-tab) ;
    border-bottom-left-radius: var(--border-radius-tab) ;
    padding: var(--pxh-10);
    display: grid;
}

#container-a5{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--pxh-10) var(--pxh-10);
}

#button-add-to-queue, #button-set-timer{
    border-radius: 5vh;
    padding: var(--pxh-05);
    font-size: var(--font-size-3);

}
#button-add-to-queue{
    background-color: white;
    color: var(--accent-color);
}

#button-add-to-queue:hover{
    background-color: var(--transparent-bg-color);
    color: var(--accent-color);
}

#button-set-timer{
    background-color: var(--accent-color);
    color: white;
}

#button-set-timer:hover{
    background-color: var(--accent-color-transparent);
    color: white;
}





