@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/* ---------------------------------- */
/* ---------- 0.BODY LAYOUT --------- */
/* ---------------------------------- */

body{
    margin: 0px; 
    height: 100%;
    background-color: rgb(221, 221, 221);
    font-family: 'Montserrat', sans-serif;
}

.container-body{
    height: 100%;
    display: grid;
    grid-template-columns: auto 500px 500px 500px auto;
    grid-template-rows: 100px 50px 120px 60px 600px;
    grid-template-areas: 
            "M1 N1 N2 N3 M2"
            "M3 A1 A1 A1 M4"
            "M3 A2 A2 A4 M4"
            "M3 A3 A3 A5 M4"
            "M3 A3 A3 A6 M4"
}

/* ---------------------------------- */
/* --------- 1.MARGIN LAYOUT -------- */
/* ---------------------------------- */

#margin-navbar-left{ grid-area: M1;}
#margin-navbar-right{ grid-area: M2;}
#margin-left{ grid-area: M3;}
#margin-right{ grid-area: M4;}
.margin{
    font-size: 0;
}

/* ---------------------------------- */
/* -------- 2.NAVBAR LAYOUT --------- */
/* ---------------------------------- */

.navbar {
    background-color: rgb(185, 185, 185);
}

/* NAVBAR LEFT - LOGO */

#navbar-left {
    grid-area: N1;
}

.logoimg{
    display: block;
    position: relative;
    top: -95%;
    left: -10%; 
}

/* NAVBAR CENTER - N2- NAV-ITEMS */

#navbar-center{
    grid-area: N2;
}

#container-main-navbar{
    display: grid;
    grid-template-rows: 5fr 1fr;
    grid-template-areas: 
            "NC2"
            "NC3";
    padding-top:25px;
}

/* .navitem-name{
    grid-area: NC1;
    height: 10px;
} */

.navitemlist{
    grid-area: NC2;
    /* background: rgb(212, 221, 83); */
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.activebar{
    grid-area: NC3;
    display: flex;
    justify-content: space-around;

}

ul{
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.navitemlist li {
    display: inline-flex;
    padding: 0em 1.25em 0em 1.25em;
    text-align: center;  
    border-right: 0.05em solid rgba(0, 0, 0, 0.1);
}

.navitemlist li:last-child {
    border-right: none;
}

.navitem {
    text-decoration: none;
    display: flex; 
    padding: 0 0.1em;
}

.activebar .tab-active{
    background-color: rgb(60, 60, 60);
    border-radius: 50em;
    height: 10px;
    width: 10px;
    margin-top: 1px;
}

.activebar .tab-inactive{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50em;
    height: 10px;
    width: 10px;
    margin-top: 1px;
}

/* NAVBAR RIGHT  */
#navbar-right{
    grid-area: N3;
    font-size: 0;
}

/* ---------------------------------- */
/* ---------- 3. APP LAYOUT --------- */
/* ---------------------------------- */

.app-div{
    padding: 5px;
}

/* ---------- A1 ---------- */

#app-a1{
    /* background-color: rgba(255, 77, 160, 0.274); */
    grid-area: A1;
    font-size: 50px;
    font-weight: bold;
}

/* ---------- A2 ---------- */

#app-a2{
    grid-area: A2;
    /* background-color: rgba(255, 166, 0, 0.24); */
    /* padding: 1em; */
}


#stats-summary{
    padding-left: 35px ; 
    padding-right: 35px ; 
    padding-top: 5px;
    /* font-style: italic; */
    color: rgb(95, 0, 95);
}

#header-weeks-summary{
    height:30px;
    font-size: 25px;
    justify-self: left;
    align-self: center;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 20px ;
}

/* ---------- A3 ---------- */

#app-a3{
    grid-area: A3;
    background-color: rgba(247, 247, 247, 0.884);
    border-radius: 10px;
    /* padding: 1em; */

}

/* ---------- A4 ---------- */

#app-a4{
    grid-area: A4;
    /* background-color: rgba(45, 131, 245, 0.212); */
}


#container-filters{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows:  1fr 1fr;
    grid-template-areas: "HF F1"
                         "BC F1";
    padding-top: 10px;
    gap: 5px 1px;
}

#list-filters{
    grid-area: F1;

    /* cursor: pointer; */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr) );
    grid-template-rows: 1fr 1fr;
    gap: 5px 1px;
    /* align-items: flex-start; */
}

#header-filters{
    grid-area: HF;
    /* padding: 10px 25px; */
    align-self: center;
    justify-self: center;
    font-size: 25px;
}

#button-clear-filter{
    grid-area: BC;
    border-radius: 50px;
    background-color: #ffffff;
    color: rgb(235, 96, 92);
    padding: 10px 25px;
    justify-self: center;


}
#button-clear-filter:hover{
    background-color: rgb(255, 95, 67);
    color: rgb(73, 3, 3);
}

.filter-btn{
    border: none;
    outline: none;
    /* margin: 3px 1px 3px 1px; */
    align-self: center;
    /* justify-self: center; */
    padding: 10px 10px;
    background-color: #f1f1f1;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* font-size: 9px; */

}

/* ---------- A5 ---------- */

#app-a5{
    grid-area: A5;
    /* background-color: rgba(230, 148, 255, 0.233); */
}

#container-buttons{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    grid-template-rows:  1fr;
    grid-template-areas: "HD BT BP";
    /* justify-self: center;
    align-self: center; */
    gap: 0px 2px;

    padding:5px;
}

#header-details{
    grid-area: HD;
    justify-self: center;
    align-self: center;
    font-size: 25px;
}

#task-btn{
    grid-area: BT;
    border: none;
    outline: none;
    padding: 10px 10px;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#project-btn{
    grid-area: BP;

    border: none;
    outline: none;
    border-radius: 50px;
    padding: 10px 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.btn:hover ,.filter-btn:hover{
    background-color: #ddd;
}

.btn {
    background-color: #ffffff;
    color: black;
}

.btn.active {
    background-color: rgb(85, 85, 85);
    color: white;
}

/* #container-border{
    margin-top: 10px;
    margin-left:10px;
    border-radius: 10px;
    border: solid;
    border-width: 2.5px;
    height: 651px;
} */


/* ---------- A6 ---------- */

#app-a6{
    grid-area: A6;
    background-color: rgba(247, 247, 247, 0.884);
    border-radius: 10px;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-right:8px;
    margin-left: 17px;
}


/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
  }

*::-webkit-scrollbar-track {
background: rgba(255, 255, 255, 0.021);
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;

}

*::-webkit-scrollbar-thumb {
background-color: rgb(139, 139, 139);
border-radius: 50px;
}

#container-list{
    margin-right:5px;
    margin-left: 10px;

}

/* ---------------------- */

li .active .iconhover {
    opacity: 1;
} 

li {
    list-style-type: none;
}

li:not(.navitemlist li):not(:last-child){
    border-bottom: 1px #ccc solid;
}

li:not(.navitemlist li){
    padding: 10px
}

/* ---------------------------------- */
/* ----- 4.STATS-BUBBLES STYLES ----- */
/* ---------------------------------- */

.show {
    display: block;
}

.hidden {
    display: none;
}

.unhighlight {
    opacity: 0.05;
}

.highlight {
    opacity: 1;
}

.container {
    margin-top: 20px;
    overflow: hidden;
}




.node:hover{
/* stroke-width: 7px !important; */
    filter: drop-shadow(0px 10px 10px rgba(31, 31, 31, 0.4));
    opacity: 1 !important;
    cursor: pointer;
}

div.tooltip{
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;		
    background-color: white;
    border: 1px #b7b7b7 solid;	
    pointer-events: none;	
    width: 100px;
}