:root {
    --primary-color: rgb(212, 221, 83);
    --text-color: #4E5254;
    /* var(--primary-color) */
}

body {
    background: rgb(215, 214, 218);
    margin: 0;
    font-family: sans-serif;
}

.navbar {
    background: rgb(189, 188, 194);
    margin: 0;
    width: 100vw;
    height: 15vh;
}

.logo {
    position: absolute;
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);
    font-size: 5vh;
    font-style: italic;
    font-family:'Lucida Sans';
    padding: 3vh 1.5vw;
    margin: 0;

}

li .active {
    background:rgba(222, 226, 169, 0.747);
    border-radius: 1em;
    border-style:ridge;
    border-color: rgba(206, 203, 59, 0.63);
    margin:0;
}

.navitemlist {
    background: var(--primary-color);
    display: inline-flex;
    list-style-type:none;
    margin: 0;
    margin-left:0.5vw;
    position: absolute;
    top: 10vh;
    /* left: 100vh; */
    /* transform: translate(-50%, -50%); */
    border-radius: 1em;
    padding: 0.5vh 0;
    padding-left: 0vw;
    /* box-shadow: 0 10px 50px rgb(116, 116, 116); */
}

.navitemlist li {
    display: inline-flex;
    margin:0;
    padding: 1vh 2vw 1vh; 
    text-align: center;  
    border-right: 0.02vw solid rgba(0, 0, 0, 0.1);
}

.navitemlist li:last-child {
    border-right: none;
}

.navitemlist li .navitem {
    text-decoration: none;
    display: none; /*block;*/
    padding: 0 0.1em;
}

.navitemlist li a:hover .icon {
    transform: translateY(-1.2vh);
}

.container .left-col {
    margin: 1.6em 0 0 0;
    width: 65%;
    float: left;
}

.container .right-col {
    margin: 1.6em 0 0 0;
    width: 35%;
    float: right;
}

.timer {
    background-color: gray;
    height: 27em;
    margin-bottom: 0.5em;
}

.task-proj-selector {
    float: clear;
    display: inline-flexbox;
    position: absolute;
    margin: 0;
    /* border: 1px solid black;
    border-radius: 5px; */
    padding-top: 56vh;
    padding-left: 23.5vw;
    /* width: 300px; */
    /* text-align: center; */
    color: var(--text-color);
    /* background-color: white; */
}

.task-proj-selector ul {
    background-color: white;
    padding:0.5vh 2vh;
    border-radius: 1em;
    list-style-type:none;
}

.select {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 8px 12px;
    color: var(--text-color);
    margin: 0.5em 0 10px 0;
    /* max-width: 11em; */

    /* replacing default arrow */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(/assets/dropdownArrow.svg);
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 10px;
    padding-right: 30px;
}

.select:focus, .select:hover {
    outline: none;
    border: 1px solid #bbbbbb;
}

.select option {
    background: #ffffffff;
}

.songView {
    position: relative;
    height:36vh; width:25vw;
    margin: 0 0 0 1.875em;
    color:black;
    padding-left: 20px;
    border-style:solid; 
    border-width:1px; 
    background-color:grey;
}

ul.line-separated {
    background-color: black;
    padding: 0;
    height:24vh; 
    width:93%; 
    overflow:hidden; 
    overflow-y:scroll;
}

ul.line-separated li {
    background:#a3a3a3;
    margin: 1px 0 0 0;
    padding: 5px;
    font-size: large;
    line-height:2.5;
    list-style-type: none;
}

.notesView {
    position: relative;
    height:36vh; width:25vw; 
    margin: 1.6em 0 0 1.875em;
    color:black;
    padding-left: 20px; 
    border-style:solid; 
    border-width:1px; 
    background-color:grey;
}

.notes{
    position:absolute;
    height:24vh; width:23vw;
    font-size: 1.25em;
}

/* body {
    font-family: sans-serif;
    display: grid;
    height: 100vh;
    place-items: center;
  } */
  
  .base-timer {
    position: absolute;
    margin: 0;
    padding: 5vh 20vw;
    width: 25vw;
    height: 25vh;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 0.2em;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 0.2em;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    /* position: absolute;
    width: 300px;
    height: 300px;
    top: 0; */
    
    position: absolute;
    margin: 0;
    padding: 25vh 31vw;

    /* display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px; */
  }