:root {
    --primary-color: rgb(212, 221, 83);
    --text-color: #4E5254;
    /* var(--primary-color) */
}

body {
    background: rgb(215, 214, 218);
    margin: 0;
    font-family: sans-serif;
}

.navbar {
    background: rgb(189, 188, 194);
    margin: 0;
    width: 100vw;
    height: 15vh;
}

.logo {
    position: absolute;
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);
    font-size: 5vh;
    font-style: italic;
    font-family:'Lucida Sans';
    padding: 3vh 1.5vw;
    margin: 0;

}

li .active {
    background:rgba(222, 226, 169, 0.747);
    border-radius: 1em;
    border-style:ridge;
    border-color: rgba(206, 203, 59, 0.63);
    margin:0;
}

.navitemlist {
    background: var(--primary-color);
    display: inline-flex;
    list-style-type:none;
    margin: 0;
    margin-left:0.5vw;
    position: absolute;
    top: 10vh;
    /* left: 100vh; */
    /* transform: translate(-50%, -50%); */
    border-radius: 1em;
    padding: 0.5vh 0;
    padding-left: 0vw;
    /* box-shadow: 0 10px 50px rgb(116, 116, 116); */
}

.navitemlist li {
    display: inline-flex;
    margin:0;
    padding: 1vh 2vw 1vh; 
    text-align: center;  
    border-right: 0.02vw solid rgba(0, 0, 0, 0.1);
}

.navitemlist li:last-child {
    border-right: none;
}

.navitemlist li .navitem {
    text-decoration: none;
    display: none; /*block;*/
    padding: 0 0.1em;
}

.navitemlist li a:hover .icon {
    transform: translateY(-1.2vh);
}
