:root {
    --primary-color: rgb(212, 221, 83);
    --text-color: #4E5254;
    /* var(--primary-color) */
}

body {
    background: rgb(215, 214, 218);
    margin: 0;
    font-family: sans-serif;
}

.navbar {
    background: rgb(189, 188, 194);
    margin: 0;
    width: 100vw;
    height: 15vh;
}

.logo {
    position: absolute;
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);
    font-size: 5vh;
    font-style: italic;
    font-family:'Lucida Sans';
    padding: 3vh 1.5vw;
    margin: 0;

}

li .active {
    background:rgba(222, 226, 169, 0.747);
    border-radius: 1em;
    border-style:ridge;
    border-color: rgba(206, 203, 59, 0.63);
    margin:0;
}

.navitemlist {
    background: var(--primary-color);
    display: inline-flex;
    list-style-type:none;
    margin: 0;
    margin-left:0.5vw;
    position: absolute;
    top: 10vh;
    /* left: 100vh; */
    /* transform: translate(-50%, -50%); */
    border-radius: 1em;
    padding: 0.5vh 0;
    padding-left: 0vw;
    /* box-shadow: 0 10px 50px rgb(116, 116, 116); */
}

.navitemlist li {
    display: inline-flex;
    margin:0;
    padding: 1vh 2vw 1vh; 
    text-align: center;  
    border-right: 0.02vw solid rgba(0, 0, 0, 0.1);
}

.navitemlist li:last-child {
    border-right: none;
}

.navitemlist li .navitem {
    text-decoration: none;
    display: none; /*block;*/
    padding: 0 0.1em;
}

.navitemlist li a:hover .icon {
    transform: translateY(-1.2vh);
}

.container .left-col {
    margin: 1.6em 0 0 0;
    width: 65%;
    float: left;
}

.container .right-col {
    margin: 1.6em 0 0 0;
    width: 35%;
    float: right;
}

.timer {
    background-color: gray;
    height: 27em;
    margin-bottom: 0.5em;
}

.task-proj-selector {
    float: clear;
    display: block;
    position: relative;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    text-align: center;
    color: var(--text-color);
    background-color: white;
}

.select {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 8px 12px;
    color: var(--text-color);
    margin: 0.5em 0 10px 0;
    /* max-width: 11em; */

    /* replacing default arrow */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(/assets/dropdownArrow.svg);
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 10px;
    padding-right: 30px;
}

.select:focus, .select:hover {
    outline: none;
    border: 1px solid #bbbbbb;
}

.select option {
    background: #ffffffff;
}

/* for upcomingTasks */
.container {
    margin: 0 18px 0 18px;
}

.content-table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 25px;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

.content-table thead tr {
    background-color: var(--primary-color);
    color: black;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary-color);
}

.newItem {
      border: none;
      font-size: inherit;
      cursor: pointer;
      width: 100%;
      text-align: left;
}

/* accordion */
h1 {
    padding: 1em 0 0 3em;
  }
  
  .accordion {
    width: 80%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    background: var(--primary-color);
  }
  
  .accordion__label {
    padding: 14px 20px;
  }
  
  .accordion__label {
    display: block;
    color: black;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    /* transition: background 0.1s; */
  }
  
  .accordion__label:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23666;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
  }
  
  .accordion__content {
    width: 100%;
    background: #ffffff;
    /* line-height: 1.6; */
    /* font-size: 0.85em; */
    display: none;
  }
  
  .accordion__input {
    display: none;
  }
  
  .accordion__input:checked ~ .accordion__content {
    display: block;
  }
  
  .accordion__input:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
  }