@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --navbar-bg-color:rgba(49, 49, 49, 0.171);
    --transparent-bg-color:rgba(189, 189, 189, 0.664);
    --white-bg-color:rgba(255, 255, 255, 0.95);
    --item-border-color-grey: rgba(0, 0, 0, 0.1);
    --border-between-ele: rgb(218, 218, 218) solid 0.5px;
    --greyed-out-text:rgba(128, 128, 128, 0.8);
    --secondary-header-font-size: 1.8vh;
}
  

/* ---------------------------------- */
/* ---------- 0.BODY LAYOUT --------- */
/* ---------------------------------- */

body{
    margin: 0px; 
    height: 100vh;
    font-family: 'Montserrat', sans-serif;

    background-image: url("../assets/imgs/img6.jpg");
    /* background-color: var(--transparent-bg-color); */
    background-size: cover;
    opacity: 0.95;
}

.container-body{
    height: 100%;
    display: grid;
    /* grid-template-columns: auto 500px 500px 500px auto;
    grid-template-rows: 100px 70px 60px 270px 60px 270px; */
    grid-template-columns: auto 21% 33% 27% auto;
    grid-template-rows: 12% 7.5% 7.5% 27% 7.5% 27%;
    grid-template-areas: 
            "M1 N1 N2 N3 M2"
            "M3 A0 A0 A0 M4"
            "M3 A1 A4 A6 M4"
            "M3 A2 A2 A3 M4"
            "M3 A2 A2 A8 M4"
            "M3 A2 A2 A5 M4"
}

/* ---------------------------------- */
/* --------- 1.MARGIN LAYOUT -------- */
/* ---------------------------------- */

#margin-navbar-left{ grid-area: M1;}
#margin-navbar-right{ grid-area: M2;}
#margin-left{ grid-area: M3;}
#margin-right{ grid-area: M4;}
.margin{font-size: 0;} /* Comment out to remove the texts */

/* ---------------------------------- */
/* ------- 1.1.MISCELLANEOUS --------- */
/* ---------------------------------- */
/* Scroll bar for list/windows */

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
  }

*::-webkit-scrollbar-track {
background: rgba(255, 255, 255, 0.021);
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;

}

*::-webkit-scrollbar-thumb {
background-color: rgb(139, 139, 139);
border-radius: 50px;
}


/* ---------------------------------- */
/* -------- 2.NAVBAR LAYOUT --------- */
/* ---------------------------------- */

.navbar {
    background-color: var(--navbar-bg-color);
}

/* NAVBAR LEFT - LOGO */

#navbar-left {
    grid-area: N1;
}

.logoimg img{
    display: block;
    position: relative;
    top: -0.5vh;
    width:65%;
}

/* NAVBAR CENTER - N2- NAV-ITEMS */

#navbar-center{
    grid-area: N2;
}

#container-main-navbar{
    display: grid;
    grid-template-rows: 5fr 1fr;
    grid-template-areas: 
            "NC2"
            "NC3";
    padding-top:3vh;
}

.icon img{
    width:5vh;
    height:5vh;
}

/* .navitem-name{
    grid-area: NC1;
    height: 10px;
} */

.navitemlist{
    grid-area: NC2;
    /* background: rgb(212, 221, 83); */
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.activebar{
    grid-area: NC3;
    display: flex;
    margin-top: 0.2vh;
    padding: 0vh 7vh 0vh 0vh;
    justify-content: space-around;
}

.activebar:last-child {
    border-right: none;
    padding: 0vh 0vh 0vh 0vh;
}

ul{
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.navitemlist li {
    display: inline-flex;
    padding: 0vh 3vh 0vh 0vh;
    text-align: center;  
    border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.navitemlist li:last-child {
    border-right: none;
    padding: 0vh 0vh 0vh 0vh;
}

/* .navitem {
    text-decoration: none;
    display: flex; 
    padding: 0 0.1em;
} */

.activebar .tab-active{
    background-color: rgb(60, 60, 60);
    border-radius: 50em;
    height: 1vh;
    width: 1vh;
    margin-top: 0.2vh;
}

.activebar .tab-inactive{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50em;
    height: 1vh;
    width: 1vh;
    margin-top: 0.2vh;
}

/* NAVBAR RIGHT  */
#navbar-right{
    grid-area: N3;
    font-size: 0;
}

/* ---------------------- */

li .active .iconhover {
    opacity: 1;
} 

li {
    list-style-type: none;
}

li:not(.navitemlist li):not(:last-child){
    border-bottom: 1px #ccc solid;
}

li:not(.navitemlist li){
    padding: 10px
}

/* ---------------------------------- */
/* ---------- 3. APP LAYOUT --------- */
/* ---------------------------------- */

.app-div{
    padding: 5px;
    margin-left: 7px;
    margin-right: 7px;
}

#app-a1{
    margin-right: 100px;
}

#app-a4{
    margin-left: -101px;
}

.header {
    font-size: 2.8vh;
    padding-top:1.5vh;
    padding-left: 1vw;
}

/* ----------------------------------
 A0 - area below nav bar
 Page header
 ------------------------------------ 
 */

#app-a0{
    grid-area: A0;
    font-size: 5vh;
    color: var(--white-bg-color);
    text-shadow: black 0px 0px 3px;
}

/* --------------------------------------- 
Grid A1 - box 1 header-left
Timer header
-------------------------------------------
*/

#app-a1{
    grid-area: A1;
    background-color: var(--white-bg-color);
    border-top-left-radius: 15px ;
    border-bottom: rgb(218, 218, 218) solid 0.5px;
    border-right: none;

}


/* ---------- A7 ---------- */

#app-a7{
    grid-area: A7;
    background-color: var(--white-bg-color);
}

#stats-summary{
    padding-left: 35px ; 
    padding-right: 35px ; 
    padding-top: 5px;
    color: rgba(95, 0, 95, 0.842);
}

/* #header-weeks-summary{
    height:30px;
    font-size: 25px;
    justify-self: left;
    align-self: center;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 20px ;
} */

/* --------------------------------------
Grid A2 -- box 1 body
Timer 
------------------------------------------
*/

#app-a2{
    grid-area: A2;
    background-color: var(--white-bg-color);
    border-bottom-right-radius: 15px ;
    border-bottom-left-radius: 15px ;
    overflow: none;

}

/* Sets the containers height and width */
.base-timer {
    position: relative;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
    fill: none;
    stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
    stroke-width: 3.5%;
    stroke: rgba(248, 131, 131, 0.932);
}

.base-timer__path-remaining {
    transition :0.9s;
    transform:rotate(-90deg);
    transform-origin:50% 50%;
    stroke: rgba(185, 185, 192, 0.904);
    stroke-width: 3.4%;
}

.base-timer__init-line{
    stroke: rgb(136, 0, 0);
    stroke-width: 0.5%;
}
  
.base-timer__svg {
/* Flips the svg and makes the animation to move left-to-right */
transform: scaleX(-1);
}


.timer-details {
    position:absolute;
    width:35%;
    height: 60%;
    top:19%;
    left: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.session-time .input-time{
    display: flex;
    flex-flow: row-wrap;
    align-items: center;
    justify-content: space-evenly;
    transition: display 0.3s ease;
}

.session-time .input-time input,input::-webkit-input-placeholder{
    width:15%;
    display:inline-block;
    padding: 1.1vh 0vw 1.1vh 0.2vw;
    line-height:20%;
    font-size: 100%;
    overflow: visible;
} 


.session-time .timer-set{
    font-size: 6.5vh;
    /* font-weight: bold; */
    color: black;
    display: flex;
    justify-content: center;
    transition: display 0.3s ease;
}

.break-time {
    font-size: 3vh;
    color: #d31111;
}

.timer-controls{
    width:100%;
    height:23%;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.timer-button  {
    height: 75%;
    width: 35%;
    color: #a1303f;
    font-size: 2.5vh;
    font-weight : bold;
    border: solid rgb(224, 175, 181) 1px;
    display: grid;
    place-items: center;
    border-radius: 100%;
    transition: background-color 0.3s ease;
    cursor:pointer;
}

/*
------------------------------------------------------------------
GRID - A6 (box2 body)
Song queue body 
-----------------------------------------------------------------
*/

#app-a6{
    grid-area: A6;
    background-color: var(--white-bg-color);
    border-top-right-radius: 15px ;
    border-top-left-radius: 15px ;
    border-bottom: rgb(218, 218, 218) solid 0.5px;
    align-items: center;
}

/*  Song View styles*/

.songView-header, .notes-header{
    font-size: 2.8vh;
    padding-top:1.5vh;
    padding-left: 1vw;
}

.songView {
    position: relative;
    height:100%;
    width:100%;
}

.songList {
    background:#d6d5da;
    height:80%; 
    width:100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

.trackname{ 
    float:left; 
    color:#000; 
    margin:12px 0px 0px 14px; 
    font-size:1vw; 
    font-weight:bold; 
}

.trackbar { 
    background:#DDD; 
    height:60px; 
    width:100%; 
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
    vertical-align: middle;
}

.trackbar:nth-child(even) { background:#EEE; }

.playbutton{ 
    opacity:.8; 
    display:block; 
    float:left; 
    width:25px; 
    height:25px; 
    margin:14px 0px 0px 14px; 
    background:url(/assets/playButton.svg) no-repeat; 
    border:none; 
    cursor:pointer; 
    outline:none; 
}

.playbutton:hover{ opacity:1; }

.mutebutton{ 
    background:url(/assets/volume.svg) no-repeat;
    height: 15%;
    width:8%;
    background-size: contain;
    cursor:pointer;
    border:none;
    position: absolute;
    top: 84.5%;
    left:1%;
    outline: none;
    opacity: .5;
}

.mutebutton:hover{ opacity:2; }

#volumeslider { 
    left: 10.5%;
    width: 87.5%;
 }

input[type='range'] {
	-webkit-appearance: none !important;
	float:left;
    position: absolute;
    bottom: 7%;
    left: 9%; 
	padding:0px;
	background: #000;
	height:1%;
	border-bottom:#333 1px solid;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background: radial-gradient(#FFF, #333);
	height:1.7vh;
	width:1.7vh;
	border-radius:100%;
	cursor:pointer;
}

/* ---------------------------------------------
GRID A3 - Box 2 Header
Song queue Header
------------------------------------------------ 
*/

#app-a3{
    grid-area: A3;
    background-color: var(--white-bg-color);
    border-bottom-right-radius: 15px ;
    border-bottom-left-radius: 15px ;
    border-bottom: rgb(218, 218, 218) solid 0.5px;
    margin-bottom: 10px;
    overflow-y:auto;
}

/* ---------------------------------------------
GRID A8 - Box 3 Header
Notes Header
------------------------------------------------ 
*/

#app-a8{
    grid-area: A8;
    background-color: var(--white-bg-color);
    border-top-right-radius: 15px ;
    border-top-left-radius: 15px ;
    border-bottom: rgb(218, 218, 218) solid 0.5px;
}

/* --------------------------------------------
 GRID A4 - Box 1 header-right
 Task-project selector styles
 --------------------------------------------- 
 */

#app-a4{
    grid-area: A4;
    background-color: var(--white-bg-color);
    border-top-right-radius: 15px ;
    border-bottom: rgb(218, 218, 218) solid 0.5px;
    border-left: none;
    padding-top: 1vh;

    font-size: var(--secondary-header-font-size);
}

#text-details{
    align-self: center;
    justify-self: right;
    padding-right: 10px;
    color: var(--greyed-out-text);
}

#header-details{
    grid-area: HD;
    justify-self: center;
    align-self: center;
    font-size: 25px;
}

.task-proj-selector{
    display:flex;
    justify-content: space-evenly;
    /* position: absolute;
    padding:0.5vh 1.5vw;
    border-radius: 1em;
    list-style-type:none; */
    
}

.project-div, .task-div{
    display:flex;
    justify-content: space-evenly;  
}

.select {
    border-left: none;
    border-right: none;
    border-top: none;
    background: none;
    padding: 1vh;
    font-size: var(--secondary-header-font-size);
    color: black;
    margin: 1vh 0 1vh 0;
    font-weight: normal;
    /* max-width: 11em; */

    /* replacing default arrow */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(/assets/dropdownArrow.svg);
    background-position: right 8px top 50%;
    background-repeat: no-repeat;
    background-size: 10px;
    padding-right: 28px;
}

.select:focus, .select:hover {
    outline: none;
    border: 1px solid #bbbbbb;
}

.select option {
    font-weight: normal;
    background: #ffffffff;
}

/*
------------------------------------------------------------------
GRID - A5 (box3 body)
Notes body 
-----------------------------------------------------------------
*/

#app-a5{
    grid-area: A5;
    background-color: var(--white-bg-color);
    border-bottom-right-radius: 15px ;
    border-bottom-left-radius: 15px ;
    border-bottom: rgb(218, 218, 218) solid 0.5px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.notesView {
    position: relative;
    height:95%;
    width:99.89%;
    background-color:grey;
    color:black;
    border: none; 
}

.notes{
    position:absolute;
    height:100%; 
    width:100%;
    font-size: 2vh;
}

/* 
---------------------------------------------
Other fixed position Elements
---------------------------------------------
*/

/* Code for the toast messages adapted from - https://www.w3schools.com/howto/howto_js_snackbar.asp 
The toast - position it at the bottom and in the middle of the screen */
#toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: rgba(51, 51, 51, 0.897); /* Black background color */
    color: #fff; /* White text color */
    border-radius: 0.3em; /* Rounded borders */
    padding: 1.5vh; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 9%; /* right align the toast */
    bottom: 2vh; /* 2vh from the bottom */
}

/* Show the toast when clicking on a button (class added with JavaScript) */
#toast.show {
    visibility: visible; /* Show the snackbar */
}

#dialogBox {
    position: fixed;
    top: 40%;
    left:48%;
    transform: translate(-50%);
    max-width: 30%;
    height: auto;
    padding: 0.5em;
    color: black;
    border: 1px solid #5f6063;
    background-color: rgb(222, 222, 228);
    z-index: 1;
    display: none;
    margin:0;
    padding:0;
    font-size: 2.2vh;
}

#dialogBox-2 {
    position: fixed;
    top: 40%;
    left:48%;
    transform: translate(-50%);
    min-width: 30%;
    height: auto;
    padding: 0.5em;
    color: black;
    border: 1px solid #5f6063;
    background-color: rgb(222, 222, 228);
    z-index: 1;
    display: none;
    margin:0;
    padding:0;
}

.dbox-header {
  background-color: rgb(54, 54, 185);
  display: flex;
  justify-content: right;
}

#dbox-input, #dbox-input-2 {
    margin:3%;
    max-width: 30%;
    font-size: 2.2vh;
}
 #dbox-msg, #dbox-msg-2 {
  margin:3%;
 }

.dbox-buttons {
  display: flex;
  justify-content:right;
}

#confirm-btn, #confirm-btn-2 {
  background-color: rgb(190, 194, 202);
  margin: 3%;
  padding: 1%;
  cursor: pointer;
  font-size: 2.2vh;
}

#skip-btn, #skip-btn-2 {
  background-color: rgb(190, 194, 202);
  padding: 1%;
  margin: 3%;
  cursor: pointer;
  font-size: 2.2vh;
}

#cancel-btn, #cancel-btn-2 {
  background-color: rgb(196, 3, 35);
  padding: 1%;
  cursor: pointer;
  /* position:relative;
  left: 90%; */
  color: white;
  font-size: 2.2vh;
}