@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --navbar-bg-color:rgba(49, 49, 49, 0.171);
    --transparent-bg-color:rgba(189, 189, 189, 0.664);
    --white-bg-color:rgba(255, 255, 255, 0.95);
    --item-border-color-grey: rgba(0, 0, 0, 0.1);
    --border-between-ele: rgb(218, 218, 218) solid 0.5px;
    --greyed-out-text:rgba(128, 128, 128, 0.8);
    --secondary-header-font-size: 18px;
}
  

/* ---------------------------------- */
/* ---------- 0.BODY LAYOUT --------- */
/* ---------------------------------- */

body{
    margin: 0px; 
    height: 100%;
    font-family: 'Montserrat', sans-serif;

    background-image: url("../assets/imgs/img6.jpg");
    /* background-color: var(--transparent-bg-color); */
    background-size: cover;
    opacity: 0.95;
}

.container-body{
    height: 100%;
    display: grid;
    grid-template-columns: auto 500px 500px 500px auto;
    grid-template-rows: 100px 70px 60px 270px 60px 270px;
    grid-template-areas: 
            "M1 N1 N2 N3 M2"
            "M3 A0 A0 A0 M4"
            "M3 A1 A4 A6 M4"
            "M3 A2 A2 A3 M4"
            "M3 A2 A2 A8 M4"
            "M3 A2 A2 A5 M4"
}

/* ---------------------------------- */
/* --------- 1.MARGIN LAYOUT -------- */
/* ---------------------------------- */

#margin-navbar-left{ grid-area: M1;}
#margin-navbar-right{ grid-area: M2;}
#margin-left{ grid-area: M3;}
#margin-right{ grid-area: M4;}
.margin{font-size: 0;} /* Comment out to remove the texts */

/* ---------------------------------- */
/* ------- 1.1.MISCELLANEOUS --------- */
/* ---------------------------------- */
/* Scroll bar for list/windows */

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
  }

*::-webkit-scrollbar-track {
background: rgba(255, 255, 255, 0.021);
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;

}

*::-webkit-scrollbar-thumb {
background-color: rgb(139, 139, 139);
border-radius: 50px;
}


/* ---------------------------------- */
/* -------- 2.NAVBAR LAYOUT --------- */
/* ---------------------------------- */

.navbar {
    background-color: var(--navbar-bg-color);
}

/* NAVBAR LEFT - LOGO */

#navbar-left {
    grid-area: N1;
}

.logoimg{
    display: block;
    position: relative;
    top: -95%;
    left: -10%; 
}

/* NAVBAR CENTER - N2- NAV-ITEMS */

#navbar-center{
    grid-area: N2;
}

#container-main-navbar{
    display: grid;
    grid-template-rows: 5fr 1fr;
    grid-template-areas: 
            "NC2"
            "NC3";
    padding-top:25px;
}

/* .navitem-name{
    grid-area: NC1;
    height: 10px;
} */

.navitemlist{
    grid-area: NC2;
    /* background: rgb(212, 221, 83); */
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.activebar{
    grid-area: NC3;
    display: flex;
    justify-content: space-around;

}

ul{
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.navitemlist li {
    display: inline-flex;
    padding: 0em 1.25em 0em 1.25em;
    text-align: center;  
    border-right: 0.05em solid rgba(0, 0, 0, 0.1);
}

.navitemlist li:last-child {
    border-right: none;
}

.navitem {
    text-decoration: none;
    display: flex; 
    padding: 0 0.1em;
}

.activebar .tab-active{
    background-color: rgb(60, 60, 60);
    border-radius: 50em;
    height: 10px;
    width: 10px;
    margin-top: 1px;
}

.activebar .tab-inactive{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50em;
    height: 10px;
    width: 10px;
    margin-top: 1px;
}

/* NAVBAR RIGHT  */
#navbar-right{
    grid-area: N3;
    font-size: 0;
}

/* ---------------------- */

li .active .iconhover {
    opacity: 1;
} 

li {
    list-style-type: none;
}

li:not(.navitemlist li):not(:last-child){
    border-bottom: 1px #ccc solid;
}

li:not(.navitemlist li){
    padding: 10px
}

/* ---------------------------------- */
/* ---------- 3. APP LAYOUT --------- */
/* ---------------------------------- */

.app-div{
    padding: 5px;
    margin-left: 7px;
    margin-right: 7px;
}

#app-a1{
    margin-right: 100px;
}

#app-a4{
    margin-left: -101px;
}

.header {
    font-size: 25px;
    padding-top:10px;
    padding-left: 10px;
}

/* ---------- A0 ---------- */

#app-a0{
    grid-area: A0;
    font-size: 40px;
    color: var(--white-bg-color);
    text-shadow: black 0px 0px 3px;
}

/* ---------- A1 ---------- */

#app-a1{
    grid-area: A1;
    background-color: var(--white-bg-color);
    border-top-left-radius: 15px ;
    border-bottom: rgb(218, 218, 218) solid 0.5px;
    border-right: none;

}


/* ---------- A7 ---------- */

#app-a7{
    grid-area: A7;
    background-color: var(--white-bg-color);
}

#stats-summary{
    padding-left: 35px ; 
    padding-right: 35px ; 
    padding-top: 5px;
    color: rgba(95, 0, 95, 0.842);
}

/* #header-weeks-summary{
    height:30px;
    font-size: 25px;
    justify-self: left;
    align-self: center;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 20px ;
} */

/* ---------- A2 (Timer styles) ---------- */

#app-a2{
    grid-area: A2;
    background-color: var(--white-bg-color);
    border-bottom-right-radius: 15px ;
    border-bottom-left-radius: 15px ;
    overflow: none;

}

/* Sets the containers height and width */
.base-timer {
    position: relative;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
    fill: none;
    stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
    stroke-width: 1.8;
    stroke: rgb(212, 142, 114);
}

.base-timer__path-remaining {
    transition :0.9s;
    transform:rotate(-90deg);
    transform-origin:50% 50%;
    stroke: rgb(182, 182, 182);
    stroke-width: 1.7;
}

.base-timer__init-line{
    stroke: rgb(95, 6, 6);
    stroke-width: 0.5;
}
  
.base-timer__svg {
/* Flips the svg and makes the animation to move left-to-right */
transform: scaleX(-1);
}


.timer-details {
    position:absolute;
    width:35%;
    height: 60%;
    top:22%;
    left: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.session-time .input-time{
    display: flex;
    flex-flow: row-wrap;
    align-items: center;
    justify-content: space-evenly;
    transition: display 0.3s ease;
}

.session-time .input-time input,input::-webkit-input-placeholder{
    width:15%;
    display:inline-block;
    padding: 1.1vh 0vw 1.1vh 0.2vw;
    line-height:20%;
    font-size: 2vh;
    overflow: visible;
} 


.session-time .timer-set{
    font-size: 450%;
    font-weight: bold;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    transition: display 0.3s ease;
}

.break-time {
    font-size: 200%;
    color: rgb(173, 72, 35);
}

.timer-controls{
    width:100%;
    height:23%;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.timer-button  {
    height: 80%;
    width: 40%;
    color: rgb(54, 38, 30);
    font-size: 135%;
    border: solid rgb(158, 86, 53) 1px;
    display: grid;
    place-items: center;
    border-radius: 100%;
    transition: background-color 0.3s ease;
    cursor:pointer;
}

/* ---------- A6 ---------- */

#app-a6{
    grid-area: A6;
    background-color: var(--white-bg-color);
    border-top-right-radius: 15px ;
    border-top-left-radius: 15px ;
    border-bottom: rgb(218, 218, 218) solid 0.5px;
    align-items: center;
}

/* #container-a6{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "HF1 BC1";
} */

#header-filters{
    grid-area: HF1;
}

#button-clear-filter{
    grid-area: BC1;
    border-radius: 50px;
    background-color: #ffffff;
    color: rgb(235, 96, 92);
    padding: 10px 25px;
    justify-self: right;
    margin-top: 2px;
    margin-right: 10px;
    font-size: var(--secondary-header-font-size);
}

#button-clear-filter:hover{
    background-color: rgb(255, 95, 67);
    color: rgb(252, 252, 252);
}

/*  Song View styles*/

.songView-header {
    font-size: 25px;
    padding-top:10px;
    padding-left: 10px;
    /* A6 style */
}

.songView {
    position: relative;
    height:100%;
    width:100%;
}

.mutebutton{ 
    background:url(/assets/volume.svg) no-repeat;
    height: 15%;
    width:8%;
    cursor:pointer;
    border:none;
    position: absolute;
    top: 85%;
    left:1%;
    outline: none;
    opacity: .8;
}

.mutebutton:hover{ opacity:1; }

/* .songView {
    position: relative;
    height:40vh; width:25vw;
    margin: 0 0 0 1.875em;
    color:black;
    padding-top: 0.1vh;
    padding-left: 20px;
    border: none; 
    background-color:grey;
    border-radius: 1em;
}

.songView-header {
    margin-bottom:1vh;
    font-size: 3vh;
    font-size: 25px;
    padding-top:10px;
    padding-left: 10px;
}

.songList {
    background:#a3a3a3;
    position:absolute;
    height:24vh; width:23vw;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

.notesView {
    position: relative;
    height:40vh; width:25vw; 
    margin: 1.6em 0 0 1.875em;
    color:black;
    padding-left: 20px; 
    padding-top: 0.1vh;
    border: none; 
    background-color:grey;
    border-radius: 1em;
}

.notesView h2 {
    margin-bottom:1vh;
    font-size: 3vh;
}

.notes{
    position:absolute;
    height:28vh; width:23vw;
    font-size: 1.25em;
} */

  
/* http://www.developphp.com/video/JavaScript/Audio-Playlist-Play-Buttons-JavaScript-Programming-Tutorial */
/* .trackbar { 
    background:#DDD; 
    height:60px; 
    width:23vw; 
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
    vertical-align: middle;
}

.trackbar:nth-child(even) { background:#EEE; }

.playbutton{ 
    opacity:.8; 
    display:block; 
    float:left; 
    width:25px; 
    height:25px; 
    margin:14px 0px 0px 14px; 
    background:url(/assets/playButton.svg) no-repeat; 
    border:none; 
    cursor:pointer; 
    outline:none; 
}

.playbutton:hover{ opacity:1; }

.mutebutton{ 
    opacity:.8; 
    display:block;
    position: absolute;
    bottom: 10px;
    left: 20px; 
    float:left; 
    width:35px; 
    height:30px; 
    background:url(/assets/volume.svg) no-repeat; 
    border:none; 
    cursor:pointer; 
    outline:none; 
}

.mutebutton:hover{ opacity:1; }

.trackname{ 
    float:left; 
    color:#000; 
    margin:12px 0px 0px 14px; 
    font-size:1vw; 
    font-weight:bold; 
}

.volumeslider { width: 70px }

input[type='range'] {
	-webkit-appearance: none !important;
	float:left;
    position: absolute;
    bottom: 15px;
    left: 60px; 
	padding:0px;
	background: #000;
	height:13px;
	border-bottom:#333 1px solid;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background: radial-gradient(#FFF, #333);
	height:11px;
	width:11px;
	border-radius:100%;
	cursor:pointer;
} */

/* ---------- A3 ---------- */

#app-a3{
    grid-area: A3;
    background-color: var(--white-bg-color);
    border-bottom-right-radius: 15px ;
    border-bottom-left-radius: 15px ;
    border-bottom: rgb(218, 218, 218) solid 0.5px;
    margin-bottom: 10px;
    overflow-y:auto;
}


#container-filters{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows:  1fr 1fr;
    grid-template-areas: "F1 F1"
                         "F1 F1";
    padding: 3px;
    gap: 5px 0px;
}

#list-filters{
    grid-area: F1;

    /* cursor: pointer; */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr) );
    grid-template-rows: 1fr 1fr;
    gap: 5px 1px;
    /* border-left: rgb(218, 218, 218) solid 0.1px; */
    /* align-items: flex-start; */
}

/* #header-filters{
    grid-area: HF;
    align-self: center;
    justify-self: center;
    font-size: 25px;
} */



.filter-btn{
    border: none;
    outline: none;
    align-self: center;
    padding: 8px 8px;
    background-color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    box-shadow: 0px 0px 2px rgba(53, 53, 53, 0.329);

    /* font-size: 9px; */

}

/* ---------- A8 ---------- */

#app-a8{
    grid-area: A8;
    background-color: var(--white-bg-color);
    border-top-right-radius: 15px ;
    border-top-left-radius: 15px ;
    border-bottom: rgb(218, 218, 218) solid 0.5px;
}

/* ---------- A4 task-project selector styles---------- */

#app-a4{
    grid-area: A4;
    background-color: var(--white-bg-color);
    border-top-right-radius: 15px ;
    border-bottom: rgb(218, 218, 218) solid 0.5px;
    border-left: none;

    font-size: var(--secondary-header-font-size);
}

#text-details{
    align-self: center;
    justify-self: right;
    padding-right: 10px;
    color: var(--greyed-out-text);
}

#container-buttons{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    grid-template-rows:  1fr;
    grid-template-areas: "HD BT BP";
    /* justify-self: center;
    align-self: center; */
    gap: 0px 2px;
    padding:5px;
}

#header-details{
    grid-area: HD;
    justify-self: center;
    align-self: center;
    font-size: 25px;
}

#task-btn{
    grid-area: BT;
    border: none;
    outline: none;
    padding: 10px 10px;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#project-btn{
    grid-area: BP;

    border: none;
    outline: none;
    border-radius: 50px;
    padding: 10px 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.btn:hover ,.filter-btn:hover{
    background-color: #ddd;
}

.btn {
    background-color: #ffffff;
    color: black;
    box-shadow: 0px 0px 2px rgba(31, 31, 31, 0.4);
    font-size: var(--secondary-header-font-size);

}

.btn.active {
    background-color: #984ea3;
    color: white;
}

/* #container-border{
    margin-top: 10px;
    margin-left:10px;
    border-radius: 10px;
    border: solid;
    border-width: 2.5px;
    height: 651px;
} */

.task-proj-selector{
    display:flex;
    justify-content: space-evenly;
    /* position: absolute;
    padding:0.5vh 1.5vw;
    border-radius: 1em;
    list-style-type:none; */
    
}

.project-div, .task-div{
    display:flex;
    justify-content: space-evenly;  
}



.select {
    border-left: none;
    border-right: none;
    border-top: none;
    background: none;
    padding: 10px 10px;
    font-size: var(--secondary-header-font-size);
    color: var(--text-color);
    margin: 0.5em 0 8px 0;
    font-weight: normal;
    /* max-width: 11em; */

    /* replacing default arrow */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(/assets/dropdownArrow.svg);
    background-position: right 8px top 50%;
    background-repeat: no-repeat;
    background-size: 8px;
    padding-right: 28px;
}

.select:focus, .select:hover {
    outline: none;
    border: 1px solid #bbbbbb;
}

.select option {
    font-weight: normal;
    background: #ffffffff;
}


#app-a5{
    grid-area: A5;
    background-color: var(--white-bg-color);
    border-bottom-right-radius: 15px ;
    border-bottom-left-radius: 15px ;
    border-bottom: rgb(218, 218, 218) solid 0.5px;
    overflow-x: hidden;
    overflow-y: scroll;
}


#container-list{
    margin-right:10px;
    margin-left: 10px;

}


/* ---------------------------------- */
/* ----- 4.STATS-BUBBLES STYLES ----- */
/* ---------------------------------- */

.show {
    display: block;
}

.hidden {
    display: none;
}

.unhighlight {
    opacity: 0.05;
}

.highlight {
    opacity: 1;
}

.container {
    margin-top: 20px;
    overflow: hidden;
}




.node:hover{
/* stroke-width: 7px !important; */
    filter: drop-shadow(0px 10px 10px rgba(31, 31, 31, 0.4));
    opacity: 1 !important;
    cursor: pointer;
}

div.tooltip{
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;		
    background-color: white;
    border: 1px #b7b7b7 solid;	
    pointer-events: none;	
    width: 100px;
}

/* 
---------------------------------------------
Other Elements
---------------------------------------------
*/

/* Code for the toast messages adapted from - https://www.w3schools.com/howto/howto_js_snackbar.asp 
The toast - position it at the bottom and in the middle of the screen */
#toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: rgba(51, 51, 51, 0.897); /* Black background color */
    color: #fff; /* White text color */
    border-radius: 0.3em; /* Rounded borders */
    padding: 1.5vh; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 9%; /* right align the toast */
    bottom: 2vh; /* 2vh from the bottom */
}

/* Show the toast when clicking on a button (class added with JavaScript) */
#toast.show {
    visibility: visible; /* Show the snackbar */
}

#dialogBox {
    position: fixed;
    top: 40%;
    left:48%;
    transform: translate(-50%);
    max-width: 30%;
    height: auto;
    padding: 0.5em;
    color: black;
    border: 1px solid #5f6063;
    background-color: rgb(222, 222, 228);
    z-index: 1;
    display: none;
    margin:0;
    padding:0;
}

.dbox-header {
  background-color: rgb(54, 54, 185);
  display: flex;
  justify-content: right;
}

#dbox-input {
    margin:3%;
    max-width: 30%;
}
 #dbox-msg {
  margin:3%;
 }

.dbox-buttons {
  display: flex;
  justify-content:right;
}

#confirm-btn {
  background-color: rgb(190, 194, 202);
  margin: 3%;
  padding: 1%;
  cursor: pointer;
}

#skip-btn {
  background-color: rgb(190, 194, 202);
  padding: 1%;
  margin: 3%;
  cursor: pointer;
}

#cancel-btn {
  background-color: rgb(196, 3, 35);
  padding: 1%;
  cursor: pointer;
  /* position:relative;
  left: 90%; */
  color: white;
}