@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --pxh-50: 5.0vh;
    --pxh-40: 4.0vh;
    --pxh-30: 3.0vh;
    --pxh-25: 2.5vh;
    --pxh-20: 2.0vh;
    --pxh-15: 1.5vh; 
    --pxh-12: 1.2vh; 
    --pxh-10: 1.0vh; 
    --pxh-05: 0.5vh; 
    --pxh-04: 0.4vh; 
    --pxh-03: 0.3vh;     
    --pxh-02: 0.2vh; 
    --pxh-01: 0.1vh; 

    --pxw-50: 5.0vw;
    --pxw-40: 4.0vw;
    --pxw-30: 3.0vw;
    --pxw-25: 2.5vw;
    --pxw-20: 2.0vw;
    --pxw-15: 1.5vw; 
    --pxw-12: 1.2vw; 
    --pxw-10: 1.0vw; 
    --pxw-05: 0.5vw; 
    --pxw-04: 0.4vw; 
    --pxw-03: 0.3vw;     
    --pxw-02: 0.2vw; 
    --pxw-01: 0.1vw; 

    --navbar-bg-color:rgba(49, 49, 49, 0.171);
    --transparent-bg-color:rgba(189, 189, 189, 0.664);
    --white-bg-color:rgba(255, 255, 255, 0.95);
    --item-border-color-grey: rgba(0, 0, 0, 0.1);
    --border-between-ele: rgb(218, 218, 218) solid 0.5px;
    --greyed-out-text:rgba(128, 128, 128, 0.8);
    --secondary-header-font-size: 1.8vh;
    --header-font-size: 25px;
    --box-shadow:0px 0px var(--pxh-03) rgba(31, 31, 31, 0.4);
    --text-shadow:black 0px 0px var(--pxh-04);
    --accent-color:#984ea3;
    --accent-color-transparent:#64356d;
    --border-radius-tab:2vh;
    --border-radius-large-item:1.5vh;
    --border-radius-small-item:1vh;
    --border-radius-button: 3vh;

    --border-bottom: rgb(218, 218, 218) solid var(--pxh-01);


    --album-cover-size: 30vh;
    --album-item-size: 20vh;
    --genre-item-size:12vh;
    --song-item-img-size:8vh;

    --settings-item-height: 14vh;
    --settings-item-width: 20vh;

        /* UNITS  */
        --h-150: 15vh; --h-100: 10vh; --h-50: 5.0vh;--h-40: 4.0vh;--h-30: 3.0vh;
        --h-25: 2.5vh;--h-20: 2.0vh; --h-18: 1.8vh; --h-15: 1.5vh; --h-12: 1.2vh; 
        --h-10: 1.0vh; --h-09: 0.9vh; --h-08: 0.8vh; --h-07: 0.7vh; --h-06: 0.6vh;
        --h-05: 0.5vh; --h-04: 0.4vh; --h-03: 0.3vh; --h-02: 0.2vh; --h-01: 0.1vh;
    
        --w-150: 15vw; --w-100: 10vw; --w-50: 5.0vw;--w-40: 4.0vw;--w-30: 3.0vw;
        --w-25: 2.5vw;--w-20: 2.0vw; --w-18: 1.8vw; --w-15: 1.5vw; --w-12: 1.2vw; 
        --w-10: 1.0vw; --w-09: 0.9vw; --w-08: 0.8vw; --w-07: 0.7vw; --w-06: 0.6vw;
        --w-05: 0.5vw; --w-04: 0.4vw; --w-03: 0.3vw; --w-02: 0.2vw; --w-01: 0.1vw;
    
        /* 50 SHADES OF GREY, SORT OF */
        --grey-250: rgb(25, 25, 25); /* REALLY DARK GREY*/
        --grey-200: rgb(45, 45, 45);
        --grey-150: rgb(90, 90, 90);
        --grey-100: rgb(128, 128, 128); /* NEUTRAL GREY*/
        --grey-75: rgb(165, 165, 165);
        --grey-50: rgb(200, 200, 200);
        --grey-25: rgb(225, 225, 225); /* REALLY LIGHT GREY*/
        /* WHITES */
        --white-100: rgba(255, 255, 255, 1); --white-90: rgba(255, 255, 255, 0.9);
        --white-80: rgba(255, 255, 255, 0.8);--white-70: rgba(255, 255, 255, 0.7);
        --white-60: rgba(255, 255, 255, 0.6);--white-50: rgba(255, 255, 255, 0.5);
        --white-40: rgba(255, 255, 255, 0.4);--white-30: rgba(255, 255, 255, 0.3);
        --white-20: rgba(255, 255, 255, 0.2);--white-10: rgba(255, 255, 255, 0.1);
        /* BLACKS  */
        --black-100: rgba(0, 0, 0, 1); --black-90: rgba(0, 0, 0, 0.9);
        --black-80: rgba(0, 0, 0, 0.8);--black-70: rgba(0, 0, 0, 0.7);
        --black-60: rgba(0, 0, 0, 0.6);--black-50: rgba(0, 0, 0, 0.5);
        --black-40: rgba(0, 0, 0, 0.4);--black-30: rgba(0, 0, 0, 0.3);
        --black-20: rgba(0, 0, 0, 0.2);--black-10: rgba(0, 0, 0, 0.1);
        /* ACCENT COLOR */
        --color-accent:rgb(150, 75, 150);
        --color-accent-dark:rgb(125, 60, 125);
        --color-accent-darker:rgb(100, 50, 100);
    
        /* ITEMS COLORS */
        --color-navbar:var(--black-10);
        --color-app-div-white:var(--white-90);     
        --color-item-border: var(--black-10);
    
        --color-button: var(--white-100);
        --color-button-hovered: var(--grey-25);
        --color-button-clicked: var(--grey-75);
        --color-button-active: var(--grey-200);
    
        --color-button-accent: var(--color-accent);
        --color-button-accent-hovered: var(--color-accent-dark);
        --color-button-accent-clicked: var(--color-accent-darker);
    
        /* TEXT COLORS */
        --color-text: var(--black-100);
        --color-text-greyed-out:var(--grey-75);
        --color-text-button: var(--grey-250);
        --color-text-button-active: var(--grey-25);
    
        /* FONT-SIZE */
        --font-size-10: var(--h-50);
        --font-size-6: var(--h-30);
        --font-size-5: var(--h-25);
        --font-size-4: var(--h-18);
        --font-size-3: var(--h-15);
        --font-size-2: var(--h-12);
        --font-size-1: var(--h-10);
    
        /* SHADOW */
        --box-shadow-black :black 0px 0px var(--h-02);
        --box-shadow-grey :var(--grey-100) 0px 0px var(--h-02);
        --box-shadow-white :white 0px 0px var(--h-02);
    
        --text-shadow-black :black 0px 0px var(--h-03);
        --text-shadow-grey :var(--grey-100) 0px 0px var(--h-03);
        --text-shadow-white :white 0px 0px var(--h-03);
    
        /* BORDERS */
        --border-divider-thin: solid var(--h-01) var(--color-item-border);
        --border-divider-regular: solid var(--h-02) var(--color-item-border);
        --border-divider-thick: solid var(--h-03) var(--color-item-border);
    
        /* BORDER CORNER RADIUS */
        --border-radius-10: var(--h-150);
        --border-radius-9: var(--h-100);
        --border-radius-5: var(--h-50);
        --border-radius-4: var(--h-25);
        --border-radius-3: var(--h-20);
        --border-radius-2: var(--h-15);
        --border-radius-1: var(--h-10);

        --border-radius-tab: var(--border-radius-4);
}
  

/* ---------------------------------- */
/* ---------- 0.BODY LAYOUT --------- */
/* ---------------------------------- */

body{
    margin: 0px; 
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    opacity: 0.95;
}

.container-body{
    height: 88%;
    display: grid;
    grid-template-columns: auto 30% 25% 30% auto;
    grid-template-rows: 8% 7% 75%;
    grid-template-areas: 
            /* "M1 N1 N2 N3 M2" */
            "M3 A0 A0 A0 M4"
            "M3 A1 A1 A3 M4"
            "M3 A2 A2 A4 M4"
            /* "M3 A2 A2 A4 M4"
            "M3 A2 A2 A4 M4" */

}

/* ---------------------------------- */
/* --------- 1.MARGIN LAYOUT -------- */
/* ---------------------------------- */

#margin-left{ grid-area: M3;}
#margin-right{ grid-area: M4;}
.margin{font-size: 0;} /* Comment out to remove the texts */


/* ---------------------------------- */
/* ---------- 3. APP LAYOUT --------- */
/* ---------------------------------- */

.app-div{
    padding: var(--pxh-05);
    margin-left: var(--pxh-05);
    margin-right: var(--pxh-05);
}


.header {
    font-size: 2.8vh;
    padding-top:1.5vh;
    padding-left: 1vw;
}

/* ---------- A0 ---------- */

#app-a0{
    grid-area: A0;
    font-size: 5vh;
    color: var(--color-app-div-white);
    text-shadow: var(--box-shadow-black);
}

/* ---------- A1 ---------- */

#app-a1{
    grid-area: A1;
    background-color: var(--white-bg-color);
    border-top-left-radius: var(--border-radius-tab) ;
    border-top-right-radius: var(--border-radius-tab)  ;
    border-bottom: var(--border-divider-thin) ;
    display: grid;
}

#container-a1{
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-areas: "HS1 HS2 HS3 HS4 AP SB";
    overflow: hidden;
}

#button-add-project{
    grid-area: AP;
    align-self: center;
    width: fit-content;
    border-radius: 50px;
    background-color: rgb(212, 221, 83);
    padding: 8px 12px;
    min-height: 2rem;
    margin-right: 0;
    margin-left: auto;
    font-size: var(--secondary-header-font-size);
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    align-self: center;
}

.container-search {
    grid-area: SB;
    margin-left: auto;
    margin-right: 10px;
    align-self: center;
    align-items: center;
    min-height: 1.75rem;
    padding-top: 0.25rem;
    width: 350px;
    border: solid 2px var(--black-50);
    border-radius: 50px;
    background-color: var(--white-10);
    padding-left: 10px;
    vertical-align: middle;
}

#searchID{
    /* background-image: url("../assets/searchbar.png"); */   
    border: none;
    outline: none;
    width: 90%;
    height: 100%;
    text-indent: 10px;
    font-family: 'Montserrat', sans-serif;
    padding: none;  
    font-size: var(--secondary-header-font-size);
    background-color: inherit;
}

.container-search i {
    padding: 0;
}

/* ---------- A2 ---------- */

#app-a2{
    grid-area: A2;
    background-color: var(--white-bg-color);
    border-bottom-right-radius: var(--border-radius-tab) ;
    border-bottom-left-radius: var(--border-radius-tab) ;
    overflow-y:scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
#container-a2{
    display: grid;
    align-items: stretch;
    padding-bottom: var(--pxh-25);
}

.content-table {
    /* display: flex; */
    table-layout: fixed;
    width: 100%;
    align-content: center;
    margin: 0;
    overflow: hidden;
}

.content-table tr {
    width: 100%;
    column-span: 3;
}

.content-table thead tr {
    background-color: rgb(212, 221, 83);
    color: black;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    font-weight: normal; 
    padding: 10px;
}

.content-table tbody tr {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even), .content-table tbody tr:last-of-type  {
    background-color: white;
}

/*  */
.accordion-item{
    padding: 10px;
    margin: 20px;
    border:rgb(60, 60, 60) solid 1px;
    border-radius: 20px;
    /* align-items: stretch; */
    align-content: center;
}

.accordion-item-header{
    width: 100%;
    padding-bottom: 10px;
    cursor: pointer;
}

.accordion-item-body-content {
    width: 100%;
    border-bottom: 2px solid rgb(212, 221, 83);
}

.accordion-item-body {
    margin: 0;
    max-height: 0;
    overflow-y: auto;
    transition: max-height 0.2s ease-out;
}

.accordion {
    width: 90%;
    margin: auto;
}

div.accordion-item-header {
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    min-height: 1rem;
    font-weight: bold; 
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
  
tr.accordion-item-header {
  cursor: pointer;
  width: 100%;
}

.accordion-item-header:hover,  .taskHeader:hover {
    background: lightgray;
    cursor: pointer;
}
  
div.accordion-item-header::after {
    content: ' \02C5'; /* a V sign */
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    transition: transform 0.4s;
}

div.accordion-item-header.active::after {
    transform: rotate(180deg);
}

.taskDetails, .newItem-container-details {
    width: 100%;
    display: none;
    font-weight: normal;
}

.doneButton {
    border-radius: 50px;
    padding: 0.75rem;
    margin-left: 15px;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--primary-color);
    float: clear;
}

.taskName, .taskDate, .taskProgress {
    border: none;
    width: 100%;
    /* height: 100%; */
    height: 1.5rem;
    position: relative;
    background-color: inherit;
    border-bottom: 1px solid black;
    font-weight: normal;
}

.taskProgress-container {
    width: 30%;
    float: left;
}
    
.newItem-container-details input::placeholder, .search-container input::placeholder {
      font-weight: normal;
      font-size: 0.9rem;
}

.taskDetails ul li, .taskDetails p {
    font-weight: normal;
    list-style-type: disc;
}
  
.taskDetails ul {
    padding: 1px 0 0 20px;
}

/* FIXED POSITION ELEMENTS */

#dialogBox {
    position: fixed;
    top: 40%;
    left:48%;
    transform: translate(-50%);
    max-width: 30%;
    height: auto;
    padding: 0.5em;
    color: black;
    border: 1px solid #5f6063;
    background-color: rgb(222, 222, 228);
    z-index: 1;
    display: none;
    margin:0;
    padding:0;
    font-size: 2.2vh;
}

.dbox-header {
  background-color: rgb(54, 54, 185);
  display: flex;
  justify-content: right;
}

#dbox-input {
    margin:3%;
    max-width: 50%;
    font-size: 2.2vh;
}
 #dbox-msg {
  margin:3%;
 }

 .dbox-buttons {
    display: flex;
    justify-content:right;
  }

#confirm-btn {
    background-color: rgb(190, 194, 202);
    margin: 3%;
    padding: 1%;
    cursor: pointer;
    font-size: 2.2vh;
}

#skip-btn {
    background-color: rgb(190, 194, 202);
    padding: 1%;
    margin: 3%;
    cursor: pointer;
    font-size: 2.2vh;
}

#cancel-btn {
    background-color: rgb(196, 3, 35);
    padding: 1%;
    cursor: pointer;
    /* position:relative;
    left: 90%; */
    color: white;
    font-size: 2.2vh;
}

/* ---------- A3 ---------- */

#app-a3{
    grid-area: A3;
    background-color: var(--white-bg-color);
    border-top-right-radius: var(--border-radius-tab) ;
    border-top-left-radius: var(--border-radius-tab) ;
    border-bottom: var(--border-divider-thin) ;
    display: grid;

}

#container-a3{
    font-size: var(--font-size-3);
    display: grid;
    grid-template-columns: auto 5vw;
    align-items: center;
    align-content: center;
}

/* ---------- A4 ---------- */

#app-a4{
    grid-area: A4;
    background-color: var(--color-app-div-white);
    border-bottom-left-radius: var(--border-radius-tab);
    border-bottom-right-radius: var(--border-radius-tab);
    overflow-y:auto;
    scroll-behavior: smooth;
}

#container-a4{
    display: grid;
    justify-self: center;
    align-self: center;
    padding: var(--h-15);
}

#text-notes {
    text-align: justify;
    padding: 5px;
}



